* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background: #e9ebee;
  font-size: 14px;
  color: #6d6d6d;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #4267b2;
  height: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
}
